<h1>Listing civilites</h1>

<table>
  <tr>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @civilites.each do |civilite| %>
  <tr>
    <td><%= civilite.description %></td>
    <td><%= link_to 'Show', civilite %></td>
    <td><%= link_to 'Edit', edit_civilite_path(civilite) %></td>
    <td><%= link_to 'Destroy', civilite, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Civilite', new_civilite_path %>
