%h3 
  Dossier : 
  = @dossier.nom_dossier
%div#tabs
  %ul
    %li
      %a{:href=> "#tabs-1"} Dossier
    %li
      %a{:href=> "#tabs-2"} Intervenants
    %li
      %a{:href=> "#tabs-3"} Documents
    %li                                
      %a{:href=> "#tabs-4"} Activité
    %li                                
      %a{:href=> "#tabs-5"} Frais
    %li                                
      %a{:href=> "#tabs-6"} Consignations
      
    %li{:style=>"float:right;"}
      %a{:href=> "#tabs-3",  :class => "removeRecord", :onClick => "delete_page('/dossiers/"+@dossier.id.to_s+"/destroy');"} Supprimer

  %div#tabs-1
    = render 'form'
  
  %div#tabs-2
    = render 'intervenants'
    
  %div#tabs-3
    = render 'documents'
    
  %div#tabs-4
    = render 'activites'

  %div#tabs-5
    = render 'frais'
        
  %div#tabs-6
    = render 'consignations'

    