<h1>Listing dossiers</h1>

<table>
  <tr>
    <th>Ref cabinet</th>
    <th>Date avis designation</th>
    <th>Nom dossier</th>
    <th>Nom juridiction</th>
    <th>Type decision</th>
    <th>Juge controleu</th>
    <th>Type expertise</th>
    <th>Date decision</th>
    <th>Date cible depot rapport</th>
    <th>Date effective depot raport</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dossiers.each do |dossier| %>
  <tr>
    <td><%= dossier.ref_cabinet %></td>
    <td><%= dossier.date_avis_designation %></td>
    <td><%= dossier.nom_dossier %></td>
    <td><%= dossier.nom_juridiction %></td>
    <td><%= dossier.type_decision %></td>
    <td><%= dossier.juge_controleu %></td>
    <td><%= dossier.type_expertise %></td>
    <td><%= dossier.date_decision %></td>
    <td><%= dossier.date_cible_depot_rapport %></td>
    <td><%= dossier.date_effective_depot_raport %></td>
    <td><%= link_to 'Show', dossier %></td>
    <td><%= link_to 'Edit', edit_dossier_path(dossier) %></td>
    <td><%= link_to 'Destroy', dossier, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Dossier', new_dossier_path %>
