<p id="notice"><%= notice %></p>

<p>
  <b>Ref cabinet:</b>
  <%= @dossier.ref_cabinet %>
</p>

<p>
  <b>Date avis designation:</b>
  <%= @dossier.date_avis_designation %>
</p>

<p>
  <b>Nom dossier:</b>
  <%= @dossier.nom_dossier %>
</p>

<p>
  <b>Nom juridiction:</b>
  <%= @dossier.nom_juridiction %>
</p>

<p>
  <b>Type decision:</b>
  <%= @dossier.type_decision %>
</p>

<p>
  <b>Juge controleu:</b>
  <%= @dossier.juge_controleu %>
</p>

<p>
  <b>Type expertise:</b>
  <%= @dossier.type_expertise %>
</p>

<p>
  <b>Date decision:</b>
  <%= @dossier.date_decision %>
</p>

<p>
  <b>Date cible depot rapport:</b>
  <%= @dossier.date_cible_depot_rapport %>
</p>

<p>
  <b>Date effective depot raport:</b>
  <%= @dossier.date_effective_depot_raport %>
</p>


<%= link_to 'Edit', edit_dossier_path(@dossier) %> |
<%= link_to 'Back', dossiers_path %>
