<%= form_for(@acteur) do |f| %>
  <% if @acteur.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@acteur.errors.count, "error") %> prohibited this acteur from being saved:</h2>

      <ul>
      <% @acteur.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :type_acteur_id %><br />
    <%= f.text_field :type_acteur_id %>
  </div>
  <div class="field">
    <%= f.label :dossier_id %><br />
    <%= f.text_field :dossier_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
