<%= form_for(@type_decision) do |f| %>
  <% if @type_decision.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@type_decision.errors.count, "error") %> prohibited this type_decision from being saved:</h2>

      <ul>
      <% @type_decision.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :commentaires %><br />
    <%= f.text_area :commentaires %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
