<h1>Listing qualite_procedurales</h1>

<table>
  <tr>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @qualite_procedurales.each do |qualite_procedurale| %>
  <tr>
    <td><%= qualite_procedurale.description %></td>
    <td><%= link_to 'Show', qualite_procedurale %></td>
    <td><%= link_to 'Edit', edit_qualite_procedurale_path(qualite_procedurale) %></td>
    <td><%= link_to 'Destroy', qualite_procedurale, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Qualite procedurale', new_qualite_procedurale_path %>
