<h1>Listing consignations</h1>

<table>
  <tr>
    <th>Activite</th>
    <th>Is private</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @consignations.each do |consignation| %>
  <tr>
    <td><%= consignation.activite_id %></td>
    <td><%= consignation.is_private %></td>
    <td><%= link_to 'Show', consignation %></td>
    <td><%= link_to 'Edit', edit_consignation_path(consignation) %></td>
    <td><%= link_to 'Destroy', consignation, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Consignation', new_consignation_path %>
