<%= form_for(@type_adress) do |f| %>
  <% if @type_adress.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@type_adress.errors.count, "error") %> prohibited this type_adress from being saved:</h2>

      <ul>
      <% @type_adress.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description_adresse %><br />
    <%= f.text_field :description_adresse %>
  </div>
  <div class="field">
    <%= f.label :description_courrier %><br />
    <%= f.text_field :description_courrier %>
  </div>
  <div class="field">
    <%= f.label :type_intervenant_id %><br />
    <%= select( "type_adresse", "type_intervenant_id", TypeIntervenant.find(:all).collect {|u| [u.description,u.id]}, {:include_blank => '==Choisir=='}) %>
    
  </div>
  <div class="field">
    <%= f.label :civilite_id %><br />
    <%= select( "type_adresse", "civilite_id", { "Mlle" => 1, "Mme" => 2, "M" => 3})%>

  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
