
<h1>Edition des intitulés courrier</h1>

<table>
  <tr>
    <th>Description adresse</th>
    <th>Description courrier</th>
    <th>Type intervenant</th>
    <th>Civilite</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @type_adresses.each do |type_adress| %>
  <tr>
    <td><%= best_in_place type_adress, :description_adresse, :type => :input %></td>
    <td><%= best_in_place type_adress, :description_courrier, :type => :input %></td>
    <td><%= best_in_place type_adress, :type_intervenant_id, :type => :input %></td>
    <td><%= best_in_place type_adress, :civilite_id, :type => :input %></td>
    <td><%= link_to 'Destroy', type_adress, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />



