<h1>Listing type_etat_dossiers</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Ordre apparition</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @type_etat_dossiers.each do |type_etat_dossier| %>
  <tr>
    <td><%= type_etat_dossier.description %></td>
    <td><%= type_etat_dossier.ordre_apparition %></td>
    <td><%= link_to 'Show', type_etat_dossier %></td>
    <td><%= link_to 'Edit', edit_type_etat_dossier_path(type_etat_dossier) %></td>
    <td><%= link_to 'Destroy', type_etat_dossier, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Type etat dossier', new_type_etat_dossier_path %>
