<h1>Liste des modèles de messages</h1>

<table id="liste-dossiers" style="width: 100%;">
  <tr>
    <th>Description</th>
    <th>Sujet</th>
    <th></th>
    <th></th>
  </tr>

<% @message_templates.each do |message_template| %>
  <tr>
    <td><%= message_template.description %></td>
    <td><%= message_template.mail_subject %></td>
    <td><%= link_to 'Editer ', edit_message_template_path(message_template) %></td>
    <td><%= link_to 'Supprimer', message_template, :confirm => 'Confirmer ?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nouveau', new_message_template_path %>
