<h1>Liste des modèles de messages</h1>
<p>En cliquant sur "rendre commun", une copie du modèle sera créée et rendue commune à tous les utilisateurs.</p>
<table id="liste-dossiers" style="width: 100%;" border=1>
  <tr>
    <th>Modèle</th>
    <th>Object</th>
    <th>Extrait</th>
    <th></th>
    <th></th>
    
  </tr>

<% @message_templates.each do |message_template| %>
  <tr>
    <td><%= message_template.parametres_cabinet_id == 0 ? "X" : ""%>
    <td><%= message_template.mail_subject %></td>
    <td><%= strip_tags(message_template.message_body.gsub(/<!--[\s\S]*?-->/, "")) %></td>
    <td><a href="/message_templates/<%= message_template.id %>/mark_as_global">Rendre commun</td>
    <td><a href="/message_templates/<%= message_template.id %>/destroy">Supprimer</td>
      
  </tr>
<% end %>
</table>