%div#page-content-inner


  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  #recipient_adress  
    - if @dossier.parametres_cabinet.add_destinataire_to_courrier
      = @contact.genre_adresse
      = @contact.prenom
      = @contact.nom
      %br
      = @contact.adresse1
      - if !@contact.adresse2.empty?
        %br
        = @contact.adresse2
      - if !@contact.adresse3.empty?
        %br
        = @contact.adresse3
      %br
      = @contact.code_postal
      = @contact.ville
      %br
      = @contact.pays
    - else
      %br
      %br
      %br
      %br
      %br
    

  
  #references
    Objet : 
    = raw @template_sujet.render( 'dossier' => @dossier, 'destinataire'=> @contact, 'expert' => @expert, 'communication' => @communication)
    %br
    -if @concom.contact_acteur && @concom.contact_acteur.references
      %br
      V/Réf : 
      = @concom.contact_acteur.references
    %br
    N/Réf : 
    = @dossier.ref_cabinet
    %br
    Contact :
    = @communication.contact.prenom
     
    = @communication.contact.nom
    - if !@communication.contact.telephone.empty?
      %br
      Tel : 
      = @communication.contact.telephone
    - if !@communication.contact.email.empty?
      %br
      Email : 
      = @communication.contact.email.downcase
    - if @dossier.numero_service_expertise
      %br
      N° S.E. :
      = @dossier.numero_service_expertise
    - if @dossier.numero_role_general
      %br
      N° R.G. : 
      = @dossier.numero_role_general
    %br
    %br
    Dossier :
    = @dossier.nom_dossier
    %br
    Juridiction :
    = @dossier.juridiction
    %br
    %br
    - if @concom.transmission_medium
      Courrier envoyé par :
      = @concom.transmission_medium.description.capitalize
  
  #date-adresse
    = @dossier.parametres_cabinet.ville.capitalize
    , 
    = I18n.localize(@communication.activite.terme_date, :format => '%d %B %Y')
    %br
    
  #corps-message
    %p #{@contact.genre_lettre},
    %p= raw @template.render( 'dossier' => @dossier, 'destinataire'=> @contact, 'expert' => @expert, 'communication' => @communication, 'convocation' => @convocation) 
    #salutation
      %p Veuillez agréer, #{@contact.genre_lettre}, l'expression de mes salutations distinguées.
      %p#signature= raw @template_signature.render( 'dossier' => @dossier, 'destinataire'=> @concom, 'expert' => @expert, 'communication' => @communication, 'convocation' => @convocation)
  
  #autres-destinataires
    - if @other_recipients.count != 0
      Destinataires : 
      %ul
      - @other_recipients.each do |concom_autre|
        %li
          = concom_autre.contact.prenom
          = concom_autre.contact.nom
      %br
    - if @other_copy.count != 0
      Copie par courriel à : 
      %ul
        - @other_copy.each do |concom_autre|
          %li
            = concom_autre.contact.prenom
            = concom_autre.contact.nom
      %br

        
  
  %div{:id=>"pieces-jointes", :class=>"pbi_avoid"}
    -if @communication.activite.activite_to_documents.count != 0
      %p Documents attachés :
      %br
      %table{:style => "width:100%", :class=>"template-attachements"}
        %thead
          %th Fichier
          %th Taille
          %th Lien
          %th QR-Code
        %tbody
          - @communication.activite.activite_to_documents.each do |doccom|
            %tr
              %td
                = doccom.document.description
                %br
                = doccom.document.file_file_name
              %td= number_to_human_size(doccom.document.file_file_size)
              %td= doccom.document.generate_link
              %td
                %img{:src=>doccom.document.generate_link+".qrcode", :id=>"qrcode"}