- form_for(@user) do |f|
  = f.hidden_field :parametres_cabinet_id
  %table{:border => "0", :class => "main-form", :id=>"userForm"}
    %tr
      %td Civilite
      %td= select( "contact", "civilite", { "M" => 1, "Mme" => 2, "Mlle" => 3, "Maître" => 4})
      %td Prenom
      %td= f.text_field :prenom
      %td Nom
      %td= f.text_field :nom
    %tr
      %td Email
      %td= f.text_field :email
      %td Mot de passe
      %td= f.text_field :password
  = f.submit "Créer cet utilisateur"




