<h1>Listing type_civilites_correspondances</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Parametres cabinet</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @type_civilites_correspondances.each do |type_civilites_correspondance| %>
  <tr>
    <td><%= type_civilites_correspondance.description %></td>
    <td><%= type_civilites_correspondance.parametres_cabinet_id %></td>
    <td><%= link_to 'Show', type_civilites_correspondance %></td>
    <td><%= link_to 'Edit', edit_type_civilites_correspondance_path(type_civilites_correspondance) %></td>
    <td><%= link_to 'Destroy', type_civilites_correspondance, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Type civilites correspondance', new_type_civilites_correspondance_path %>
