%div#parameters-list
  %div#display-parameters-list
    %h1 
      Cabinet : 
      = @parametres_cabinet.nom_cabinet
      
    %p Adresse 
    %p= @parametres_cabinet.adresse1
    %p= @parametres_cabinet.adresse2
    %p= @parametres_cabinet.adresse3
    %p
      = @parametres_cabinet.code_postal 
      = @parametres_cabinet.ville
    
    
    %br
    = link_to 'Editer', edit_parametres_cabinet_path( @parametres_cabinet)
    

