<h1>Listing contacts</h1>

<table>
  <tr>
    <th>Nom</th>
    <th>Prenom</th>
    <th>Civilite</th>
    <th>Adresse1</th>
    <th>Adresse2</th>
    <th>Adresse3</th>
    <th>Code postal</th>
    <th>Ville</th>
    <th>Pays</th>
    <th>Telephone</th>
    <th>Fax</th>
    <th>Portable</th>
    <th>Email</th>
    <th>Site web</th>
    <th>Entreprise</th>
    <th>Type intervenant</th>
    <th>Genre adresse</th>
    <th>Genre lettre</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contacts.each do |contact| %>
  <tr>
    <td><%= contact.nom %></td>
    <td><%= contact.prenom %></td>
    <td><%= contact.civilite %></td>
    <td><%= contact.adresse1 %></td>
    <td><%= contact.adresse2 %></td>
    <td><%= contact.adresse3 %></td>
    <td><%= contact.code_postal %></td>
    <td><%= contact.ville %></td>
    <td><%= contact.pays %></td>
    <td><%= contact.telephone %></td>
    <td><%= contact.fax %></td>
    <td><%= contact.portable %></td>
    <td><%= contact.email %></td>
    <td><%= contact.site_web %></td>
    <td><%= contact.entreprise_id %></td>
    <td><%= contact.type_intervenant %></td>
    <td><%= contact.genre_adresse %></td>
    <td><%= contact.genre_lettre %></td>
    <td><%= link_to 'Show', contact %></td>
    <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
    <td><%= link_to 'Destroy', contact, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Contact', new_contact_path %>
