%input{:id=>"activite_id", :value=>@activite.id, :type=>"hidden"}

- nested_form_for(@activite) do |f|
  = f.hidden_field :dossier_id
  %div.accordion
    %h3
      %a{:href=>"#"} Fiche descriptive
    %div
      %table{:border=>0, :class=>"main-form"}
        %tr 
          %td Modèle
          %td= select("activite", "message_template_id", MessageTemplate.find(:all).collect {|u| [u.description,u.id]}, {:include_blank => '==Choisir=='})
        %tr 
          %td Type d'activité
          %td= select("activite", "type_activite_id", TypeActivite.find(:all).collect {|u| [u.description,u.id]}, {:include_blank => '==Choisir=='}) 

      %table{:border=>0, :class=>"main-form", :id=>"activite-content"}
        %tr
          %td Description
          %td{:COLSPAN=>"3"}=f.text_field :description
          %td Confidentiel
          %td= f.check_box :is_confidentiel
        %tr
          %td Date
          %td= f.text_field :date_visite,:class => "datepicker"
          %td Heure
          %td= f.text_field :heure
          %td Ajouter à l'agenda
          %td= f.check_box :add_to_gcal

        %tr{:class => "type-2"}
          %td No accedit
          %td{:COLSPAN=>"5"}= f.text_field :no_accedit
        %tr
          %td Adresse 1
          %td{:COLSPAN=>"5"}= f.text_field :adresse1
        %tr
          %td Adresse 2
          %td{:COLSPAN=>"5"}= f.text_field :adresse2        
        %tr
          %td Adresse 3
          %td{:COLSPAN=>"5"}= f.text_field :adresse3
        %tr
          %td Code postal
          %td= f.text_field :code_postal, :class => "code_postal"
          %td Ville
          %td= f.text_field :ville, :class => "ville"
          %td Pays
          %td= f.text_field :pays, :class => "pays"
        %tr
          %td Commentaires
          %td{:COLSPAN=>"5"}= f.text_area :commentaires

    %h3
      %a{:href=>"#"} Documents
    %div
      %table
        %ul
        - f.fields_for :activite_to_documents do |builder2|
          %li
            = builder2.check_box :included_in_activite, :class => "tinytinyinput"
            = builder2.object.document.try(:file_file_name)
            (
            = builder2.object.document.try(:file_file_size)
            )
            = builder2.hidden_field :document_id
      %p= f.link_to_add "Ajouter", :documents
      %div{:style => "display:none;"}
        - f.fields_for :documents do |document|
          Documents ajoutés :
          %tr
            %td Description
            %td
              = document.text_field :description
              = document.hidden_field :dossier_id, :value => @activite.dossier_id
            %td Fichier
            %td= document.file_field :file

    %h3
      %a{:href=>"#"} Consignations      
    %div
      - @activite.consignations.each do |consignation|
        %ul
          %li= consignation.id

