<h1>Listing type_documents</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Parametres cabinet</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @type_documents.each do |type_document| %>
  <tr>
    <td><%= type_document.description %></td>
    <td><%= type_document.parametres_cabinet_id %></td>
    <td><%= link_to 'Show', type_document %></td>
    <td><%= link_to 'Edit', edit_type_document_path(type_document) %></td>
    <td><%= link_to 'Destroy', type_document, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Type document', new_type_document_path %>
