<h1>Listing type_acteurs</h1>

<table>
  <tr>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @type_acteurs.each do |type_acteur| %>
  <tr>
    <td><%= type_acteur.description %></td>
    <td><%= link_to 'Show', type_acteur %></td>
    <td><%= link_to 'Edit', edit_type_acteur_path(type_acteur) %></td>
    <td><%= link_to 'Destroy', type_acteur, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Type acteur', new_type_acteur_path %>
