<p id="notice"><%= notice %></p>

<p>
  <b>Sender:</b>
  <%= @communication.sender_id %>
</p>

<p>
  <b>Dossier:</b>
  <%= @communication.dossier_id %>
</p>

<p>
  <b>Subject:</b>
  <%= @communication.subject_id %>
</p>

<p>
  <b>Description:</b>
  <%= @communication.description %>
</p>


<%= link_to 'Edit', edit_communication_path(@communication) %> |
<%= link_to 'Back', communications_path %>
