<h1>Listing categories</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Taux tva</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @categories.each do |categorie| %>
  <tr>
    <td><%= categorie.description %></td>
    <td><%= categorie.taux_tva_id %></td>
    <td><%= link_to 'Show', categorie %></td>
    <td><%= link_to 'Edit', edit_category_path(categorie) %></td>
    <td><%= link_to 'Destroy', categorie, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Categorie', new_category_path %>
