<!DOCTYPE html>
<html>
<head>
  <title>Etude Legendre</title>
  <%= stylesheet_link_tag :all, :media=>:all %>
  <%= javascript_include_tag :defaults, "jquery", "jquery-ui", "jquery.menu","jquery.dataTables","jquery.hotkeys", "jquery.form", "nested_form", "tiny_mce/tiny_mce_src", "jquery.blockUI", "jquery.ui.datepicker-fr", "rails.validations", "autocomplete-rails", "jquery.purr", "best_in_place" %>

  

  
</head>
<body>

<%= render 'layouts/menu' %>
<%= render 'layouts/toolbar' %>





<div id="page-content">
  <%= yield %>
</div>
</body>
<%= javascript_include_tag "layout"%>
</html>
